* {
  padding: 0;
  margin: 0;
}

/* body style */
body{
  background: black;
  padding: 0;
  margin: 0;
  font-style: sens-serif, arial;
}

/* navigation */

.navigation_bar li{
  list-style: none;
  float: left;
  margin: 10px 20px 10px 20px;
}

.navigation_bar a {
  color: white;
  padding: 10px;
  
}

.navigation_bar a:hover {
  font-size: 20px;
  background: orange;
  font-weight: bold;
  transition: all 1ms;
}


/* showcase */

/* content */

/* footer */
