*margin{
	margin:0;
	padding:0;
}
h1{
	font-family: san-sarif;
	font-size: 40px;
	color: black;
	text-shadow: 20px, black;
}
.board{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;

}
button{

	height: 50px;
	width: 50px;
	padding: 0px;
	border: 2px solid black;
	font-family: sans-serif;
	color: black;
	margin: 0px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-shadow:
}
body{
	background-color: #g4f4f4;

}
