.signup-form {
  position: absolute;
  top: 10px;
  left: 700px;
  transform: translate(50%, 50%);
}

.signup-form input {
  padding: 10px;
  margin: 10px;
  width: 350px;
  border-width: 0px;
  border-radius: 10px;
}

.signup-form #submit{
  background: red;
  color: white;
}


.main-message {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(1000px, 100px)
}
